bin/
obj/

*.nuget.props
*.nuget.targets
**/*.lock.json
project.lock.json
artifacts/
*_ReSharper*
*.dotCover

*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
wwwroot/

*.coverage
*.coveragexml

TestResults/

StyleCopReport.xml

_ReSharper*/
*.resharper
*.DotSettings.user

*.ruleset
*.DotSettings

.editorconfig

Thumbs.db
*.dbmdl
*.pfx
*.sdf
*.sln.ide
*.sln.iml
*.ipch/
*.sln.dotSettings.user

appsettings.Development.json
appsettings.Production.json

.vs/
*.vscode/

